.benefits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAF9ED;
}

.benefits-text-content {
    width: 50%;
    color: #6A6A6A;
    padding: 150px;
}

.benefits-text-content h2 {
    font-size: 28px;
    color: #BC8F58;
    margin-bottom: 26PX;
}

.benefits-text-content p {
    font-size: 16px;
    margin-bottom: 26px;
}

.benefits-features {
    margin-top: 20px;
}

.benefits-feature-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.benefits-feature-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 26PX;
    background-color: rgba(155, 143, 34, 0.19);
}

.benefits-feature-item h3 {
    font-size: 18px;
    color: #BC8F58;
}

.image-content {
    width: 50%;
}

.image-content img {
    width: 100%;
    border-radius: 0px;
}