.certificates {
    background-color: rgb(200, 209, 175); 
    padding: 100px;
    color: #3a5b48; 
}

.certificates-container {
    display: flex;
    align-items: flex-start; 
    max-width: 1800px;
    margin: 0 auto;
    gap: 30px; 
}

.certificates-text {
    max-width: 400px;
    margin-right: 3%;
    margin-left: 8%;
}

.certificates-text h2 {
    font-size: 2.2rem;
    font-weight: bold;
    color: #1d4a4d;
    margin-bottom: 25px; 
}

.top {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 25px;
}

.below {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 25px;
}

.certificates-carousel {
    position: relative;  
    max-width: 700px;
    overflow: hidden;
}

.carousel-content {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    padding: 40px;
    box-sizing: border-box;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #48613A;
    color: #f2fad7;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-prev:hover,
.carousel-next:hover {
    background-color: #7c9473;
}

