header {  
    background-color: #f0f8e1;
    background-image: url(/img/hero.png);
    background-size: cover;
    background-position: top;
    
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 140px;
    margin-right: 140px;
}

.logo-title {
    font-size: 1.4em;
    font-weight: bold;
    color: #48613A;
    margin: 0;
}

.logo-subtitle {
    font-size: 0.5em;
    color: #7C9473;
    margin: 5px 0 20px 0;
}


nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #2b3d3b;
    font-weight: 500;
}

.order-button {
    padding: 10px 20px;
    background-color: #2b3d3b;
    color: #fff;
    text-decoration: none;
}